<h1 class="title is-1">Edit <%= @item.name %></h1>

<%= form_for(@item) do |f| %>

  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "input" %><br><br>

  <%= f.label :description, class: "label" %>
  <%= f.text_field :description, class: "input"  %><br><br>

  <%= f.label :price, class: "label" %>
  <%= f.number_field :price, step: :any, class: "input"  %><br><br>

  <%= f.submit "Update Item", class: "button is-link" %>
  
<% end %>
