<%= form_for @order do |f| %>

  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <%= f.label :name_for_pickup, class: "label" %>
  <%= f.text_field :name_for_pickup, class: "input" %><br><br>

  <label class="checkbox">
    <%= f.collection_check_boxes(:menu_item_ids, MenuItem.all, :id, :name, class: "checkbox") %>
  </label>

  <div class="control">
   <%= f.label "Order Complete?", :class => "label" %>
   <%= f.label :completed, "Yes", :value => "true" %>
   <%= f.radio_button :completed, true, :checked => (@order.completed == true ? true : false) %>

   <%= f.label :completed, "No", :value => "false" %>
   <%= f.radio_button :completed, false, :checked => (@order.completed == false ? true : false) %>
 </div>

  <%= f.submit button_text, class: "button is-link" %>

<% end %>
