<table class="table">
  <thead>
    <tr>
      <th>Name for Pickup</th>
      <th>Items</th>
      <th>Total</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    <% @orders.order(created_at: :desc).each do |order| %>
    <tr>
      <td><%= link_to order.name_for_pickup, order_path(order) %></td>
      <td>
        <% order.menu_items.each do |item| %>
          <%= item.name %>
        <% end %>
        - <%= link_to "Edit", edit_order_path(order) %>
      </td>
      <td><%= order.total %></td>
      <td><%= order.time_taken %></td>
      <td><%= order.status %></td>
    </tr>
    <% end %>

  </tbody>
</table>
