<h1 class="title is-1">Order #<%= @order.id %> for <%= @order.name_for_pickup %></h1>

<%= @order.time_taken %>
Status: <%= @order.status %>

<%= render 'orders/order_details' %>

<%= link_to "Back To All Orders", orders_path %>
<%= link_to "Create a New Order", new_user_order_path(current_user) %>
<% if current_user.id == @order.user_id %>
  <%= link_to "Edit", edit_order_path %>
<% end %>
