<h2 class="title is-2">Items</h2>
<ul>
  <li><%= link_to "View all Menu Items", menu_items_path %></li>
  <li><%= link_to "Add an Item to the Menu", new_menu_item_path %></li>
</ul>

<h2 class="title is-2">Orders</h2>
<% if logged_in? %>
  <ul>
    <li><%= link_to "View all Orders", orders_path %></li>
    <li><%= link_to "View Completed Orders", orders_completed_path %></li>
    <li><%= link_to "Create a New Order", new_user_order_path(current_user) %></li>
  </ul>
<% end %>
