<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      ☕️
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Central Perk", root_path, class: "navbar-item" %>
      <% if logged_in? %>
        <%= link_to "All Orders (#{Order.orders_count})", orders_path, class: "navbar-item"  %>
        <%= link_to "Completed Orders (#{Order.completed_count})", orders_completed_path, class: "navbar-item"  %>
        <%= link_to "New Order", new_user_order_path(current_user), class: "navbar-item"  %>

        <%= link_to "Menu Items (#{MenuItem.items_count})", menu_items_path, class: "navbar-item" %>
        <%= link_to "New Menu Item", new_menu_item_path, class: "navbar-item"  %>
      <% end %>
    </div>

    <div class="navbar-end is-active">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            Hello, <%= current_user.name %>!&nbsp;
            <%= link_to "Log Out", logout_path, class: "button is-primary" %>
          <% else %>
            <%= link_to "Sign Up", signup_path, class: "button is-primary" %>
            <%= link_to "Log In", login_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
