<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      ☕️
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
        <%= link_to "Central Perk", root_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end is-active">
      <div class="navbar-item">
        <div class="buttons">
          <% if current_user %>
            Hello, <%= current_user.name %>!&nbsp;
            <%= link_to "Log Out", logout_path, class: "button is-primary" %>
          <% else %>
            <%= link_to "Sign Up", signup_path, class: "button is-primary" %>
            <%= link_to "Log In", login_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
